<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>


    <body>
        <header>
            {{>header}}
            <p>{{errorMessage}}</p>
        </header>

       

        <footer>
            {{>footer}}
        </footer>
    </body>
</html>