<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/about.css">
    </head>

    <body>
        <header>
            {{>header}}
        </header>

        <section class="about">
            <div class="main">
                <img class="portrait" src="img/InShot_20200713_134727626.jpg">
                <div class="about-text">
                    <h1>{{title}}</h1>
                    <h4>My name is khaled</h4>
                    <h6>i am a <span> full stack devloper</span></h6>
                    <p>I am a full stack devloper. and a computer engneering student </p>
                    <button type="button" herf="">contact me</button>
                </div>
            </div>
        </section>

        <footer>
            {{>footer}}
        </footer>
    </body>
</html>