<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/help.css">
    </head>

    <body>
        <header>
            {{>header}}
        </header>

        <section class="help">
            <div class="main">
                <div class="help-text">
                    <h1>{{title}}</h1>
                    <h6>just enter your city's name and get the weather<span> simple as hell</span></h6>
                    <button type="button" herf="">go back to main page</button>
                </div>
            </div>
        </section>

        <footer>
            {{>footer}}
        </footer>
    </body>
</html>